@model List<RoleViewModel>;
@{
    ViewData["Title"] = "RoleVer";
}

<h1>RoleVer</h1>
<form method="post" action="/Admin/Rolever/">
    <input type="hidden" name="Name" id="Name" value="@ViewBag.User" />
    <select name="ID" id="ID">
        @foreach (var item in Model)
        {
            <option value="@item.ID">@item.Name</option>
        }

    </select>
    <input type="submit" value="Ver" />

</form>
